<%- include('../../../../helpers/header') %>
<table class="email-container" role="module" border="0" cellpadding="0" cellspacing="0" width="100%">
  <h1>Attempt to change email</h1>
  <p>We received one request to change your account email</p>
  <p>You can click on above link to confirm the new email</p>
  <a href="<%= changeEmailLink %>" class="button">Change email</a>
  <p>If this wasn't you we recommend, please change your password immediately. This request can be done only by someone accessing your user</p>
  <a href="<%= changePasswordLink %>" class="button">Change password</a>
  <%- include('../../../../helpers/accessDetails') %>
</table>
<%- include('../../../../helpers/footer') %>
